# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [6]:
a = 100
b = 100

are_same_object = a is b

print("a and b are equal in value:", a == b)
print("a and b are equal by object in memory:", are_same_object)

a and b are equal in value: True
a and b are equal by object in memory: True

У цьому прикладі a і b мають однакове значення (100), і вони також посилаються на один і той самий об'єкт в пам'яті, оскільки 100 належить до проміжку від -5 до 256, який кешується Python.

2. Створити змінні, що посилаються на одне і те саме булеве значення. Чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [7]:
x = True
y = True

are_same_object = x is y

print("x and y are equal in value:", x == y)
print("x and y are equal by object in memory:", are_same_object)

x and y are equal in value: True
x and y are equal by object in memory: True

У цьому прикладі x і y мають однакове значення (True), і вони також посилаються на один і той самий об'єкт в пам'яті, оскільки булеве значення True кешується Python. Те саме стосується і значення False.

3. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна посилається на значення булевого типу)?

In [8]:
x = True
if type(x) == bool:
    print("The variable x is a Boolean type")
else:
    print("The variable x is not a Boolean type")

The variable x is a Boolean type

# II. Цілі числа та числа з рухомою комою

4. Створити дві змінні, що посилаються на будь-які два цілих числа та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [9]:
a = 10
b = 5

addition_result = a + b
print("Addition:", addition_result)

subtraction_result = a - b
print("Subtraction:", subtraction_result)

division_result = a / b
print("Division:", division_result)

multiplication_result = a * b
print("Multiplication:", multiplication_result)

floor_division_result = a // b
print("Fission without residue:", floor_division_result)

modulo_result = a % b
print("Division by module:", modulo_result)

exponentiation_result = a ** b
print("Приведення до ступеню:", exponentiation_result)

Addition: 15
Subtraction: 5
Division: 2.0
Multiplication: 50
Fission without residue: 2
Division by module: 0
Приведення до ступеню: 100000

5. Створити дві змінні, що посилаються на будь-які два числа з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [10]:
a = 10.5
b = 3.0

addition_result = a + b
print("Addition:", addition_result)

subtraction_result = a - b
print("Subtraction:", subtraction_result)

division_result = a / b
print("Division:", division_result)

multiplication_result = a * b
print("Multiplication:", multiplication_result)

floor_division_result = a // b
print("Fission without residue:", floor_division_result)

modulo_result = a % b
print("Division by module:", modulo_result)

exponentiation_result = a ** b
print("Conversion to a degree:", exponentiation_result)

Addition: 13.5
Subtraction: 7.5
Division: 3.5
Multiplication: 31.5
Fission without residue: 3.0
Division by module: 1.5
Conversion to a degree: 1157.625

6. Спробуйте проробити всі ті самі арифметичні операції над двома змінними, що посилаються на різні булеві значення. Прокоментуйте, чому, на Вашу думку, Ви отримали саме такі результати.

In [11]:
a = True
b = False

addition_result = a + b
print("Addition:", addition_result)

subtraction_result = a - b
print("Subtraction:", subtraction_result)

multiplication_result = a * b
print("Multiplication:", multiplication_result)

exponentiation_result = a ** b
print("Exponentiation:", exponentiation_result)

division_result = a / b
print("Division:", division_result)

modulo_result = a % b
print("Modulo:", modulo_result)

Addition: 1
Subtraction: 1
Multiplication: 0
Exponentiation: 1

ZeroDivisionError: ignored

В Python значення True внутрішньо розглядається як ціле число 1, а значення False - як 0. Коли ми виконуємо додавання і віднімання з логічними значеннями, Python розглядає їх як цілі числа і застосовує відповідні арифметичні операції. Помилка ZeroDivisionError виникла при спробі ділення (division_result = a / b). Це пов'язано з тим, що ділення на нуль у Python заборонено

7. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа.

In [12]:
x = 10.5
y = 3.0

x_integer = int(x)
y_integer = int(y)

print("x as an integer:", x_integer)
print("y as an integer:", y_integer)

x as an integer: 10
y as an integer: 3

# III. Робота зі списками.

8. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [13]:
my_list1 = [1, 2, 3, 4, 5]
length1 = len(my_list1)
print("List length my_list1:", length1)

my_list2 = list("Hello")
length2 = len(my_list2)
print("List length my_list2:", length2)

List length my_list1: 5
List length my_list2: 5

9. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [14]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

list1.append(list2)
print("Changed list list1:", list1)

Changed list list1: [1, 2, 3, [4, 5, 6]]

10. Створіть два списка та за допомогою спеціального методу "розширте" перший (додайте всі елементи другого в кінець першого списку). Напишіть, чим відрізняються методи в завданні 9 та 10.

In [15]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

list1.extend(list2)
print("Changed list list1:", list1)

Changed list list1: [1, 2, 3, 4, 5, 6]

Метод .append() додає один елемент до списку, тимчасом як метод .extend() додає всі елементи ітерабельного об'єкта до списку.

11. Створіть список та відсортуйте його так, щоб:
а) його id залишився незмінним після сортування.
б) результат сортування був збережений у нову змінну. Підказка: для одного пункту використовуйте вбудовану функцію стортування, а в іншому - спеціальний метод для роботи зі списками.

In [16]:
list_of_objects = [{'id': 3, 'name': 'AI-31'},
                   {'id': 1, 'name': 'Viacheslav'},
                   {'id': 2, 'name': 'Romanok'},
                   {'id': 4, 'name': 'Python'}]

#а
sorted_list = sorted(list_of_objects, key=lambda x: x['id'])

#b
list_of_objects.sort(key=lambda x: x['id'])

print("Sorted copy of the list:")
for item in sorted_list:
    print(item)

print("\nThe original list with the saved id:")
for item in list_of_objects:
    print(item)

Sorted copy of the list:
{'id': 1, 'name': 'Viacheslav'}
{'id': 2, 'name': 'Romanok'}
{'id': 3, 'name': 'AI-31'}
{'id': 4, 'name': 'Python'}

The original list with the saved id:
{'id': 1, 'name': 'Viacheslav'}
{'id': 2, 'name': 'Romanok'}
{'id': 3, 'name': 'AI-31'}
{'id': 4, 'name': 'Python'}

12. Створіть список з елементами різного типу, де деякі значення елементів повторюються. За допомогою спеціального методу порахуйте кількість значень одного з елементів на Ваш вибір. Результат виведіть на екран.

In [17]:
my_list = [1, "Orange", 2, True, 3, "Orange", 4, "Lemon", 5, "Orange"]
count_orange = my_list.count("Orange")
print("Number of 'apple' values in the list:", count_orange)

Number of 'apple' values in the list: 3

# IV. Робота з кортежами.

13. Створити список з один типом елементів та на основі цього списку створити кортеж.

In [18]:
my_list = [1, 2, 3, 4, 5]
my_tuple = tuple(my_list)
print("A tuple has been created:", my_tuple)

A tuple has been created: (1, 2, 3, 4, 5)

14. Створити кортеж з один елементом.

In [19]:
my_tuple = (777,)
print(my_tuple)

(777,)

15. Створити кортеж. Вивести на екран всі доступні його атрибути та методи.

In [20]:
my_tuple = (1, 2, 3)
print(dir(my_tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

16. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Обидва підтримують індексацію, зрізи та різні типи елементів.
Відмінність полягає у змінності: списки змінні, кортежі - незмінні. Синтаксис списків використовує квадратні дужки [], кортежі - круглі (). Кортежі зазвичай є швидшими через свою незмінність.

# V. Індексування та слайсинг.

17. Створіть список з 6ти елементів. Отримайте третій елемент за допомогою двох різних індексів.

In [22]:
my_list = [1, 2, 3, 4, 5, 6]
element1 = my_list[2]
element2 = my_list[-4]

print("The third element (by index 2):", element1)
print("The third element (with a negative index of -4):", element2)

The third element (by index 2): 3
The third element (with a negative index of -4): 3

18. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [23]:
my_list = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

last_row = my_list[-1]
first_element_last_row = last_row[0]

print("The first element from the last line:", first_element_last_row)

The first element from the last line: 7

19. Створіть кортеж, що містить 8  елементів цілочисленного типу. Виведіть на екран три найменших значення.

In [25]:
my_tuple = (15, 8, 3, 12, 6, 21, 10, 5)
sorted_tuple = sorted(my_tuple)
print("The three smallest values:", sorted_tuple[:3])

The three smallest values: [3, 5, 6]

20. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [28]:
my_list = [True, 1, "Orange", 3.14, 88, 777, "Lemon", False, 42, {"name": "Viacheslav"}]
new_list = my_list[2:-2]
print("New list without the first two and last two items:", new_list)

New list without the first two and last two items: ['Orange', 3.14, 88, 777, 'Lemon', False]

21. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [30]:
my_tuple = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
result_tuple = my_tuple[::-2]
print("Result:", result_tuple)

Result: (0.3, 8.3, 6.3, 4.3, 2.3)

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.